node_modules/
dist/
.env

DB_HOST=localhost
DB_PORT=6000
DB_USER=postgres
DB_PASSWORD=Issakouyate2001@
DB_NAME=todo

# Ignorer les fichiers .env
backend/src/.env
backend/config/.env

# Ignorer les fichiers Node.js et build
node_modules/
dist/
build/
